<div class="container">
    <div class="slider-container">
        <app-slider></app-slider>
    </div>

    
    
    <h1>Aceite de Oliva Virgen Extra Sierra de Guadalcanal</h1>
    <hr class="linea-horizontal">
    <div class="product-container">
        <div *ngFor="let product of productSG" class="product ">
            <div class="image-container">
                <img class="imgProduct" src="{{product.imgSrc}}" alt="{{product.name}}">
            </div>
            <div class="product-info">
                <h2 class="name">{{ product.name }}</h2>
                <h2 class="price">{{product.price}} €</h2>
            </div>
            <div class="modal-container">
                <div mat-raised-button (click)="openModal(product.id)">Ver Producto</div>
            </div>
        </div>
    </div>
    
        
    <h1>Guadalimón</h1>
    <hr class="linea-horizontal">
    <div class="product-container">
        <div *ngFor="let product of productG" class="product ">
            <div class="image-container">
                <img class="imgProduct" src="{{product.imgSrc}}" alt="{{product.name}}">
            </div>
            <div class="product-info">
                <h2 class="name">{{ product.name }}</h2>
                <h2 class="price">{{product.price}} €</h2>
            </div>
            <div class="modal-container">
                <div mat-raised-button (click)="openModal(product.id)">Ver Producto</div>
            </div>
        </div>
    </div>

    <h1>Sierra de Guadalcanal Premium</h1>
    <hr class="linea-horizontal">
    <div class="product-container">
        <div *ngFor="let product of productP" class="product ">
            <div class="image-container">
                <img class="imgProduct" src="{{product.imgSrc}}" alt="{{product.name}}">
            </div>
            <div class="product-info">
                <h2 class="name">{{ product.name }}</h2>
                <h2 class="price">{{product.price}} €</h2>
            </div>
            <div class="modal-container">
                <div mat-raised-button (click)="openModal(product.id)">Ver Producto</div>
            </div>
        </div>
    </div>

    <h1>Sierra de Guadalcanal Ecológico</h1>
    <hr class="linea-horizontal">
    <div class="product-container">
        <div *ngFor="let product of productE" class="product ">
            <div class="image-container">
                <img class="imgProduct" src="{{product.imgSrc}}" alt="{{product.name}}">
            </div>
            <div class="product-info">
                <h2 class="name">{{ product.name }}</h2>
                <h2 class="price">{{product.price}} €</h2>
            </div>
            <div class="modal-container">
                <div mat-raised-button (click)="openModal(product.id)">Ver Producto</div>
            </div>
        </div>
    </div>
    <div class="product-container">
        <app-profile></app-profile>
    </div>
    
</div>
