<div >
    <div class="slider-container">
        <app-slider></app-slider>
    </div>
    <h1>Aceite de Oliva Virgen Extra Sierra de Guadalcanal</h1>
    <hr class="linea-horizontal">
    <div class="product-container">
        <div *ngFor="let product of productSG" class="product ">
            <div class="image-container">
                <img class="imgProduct" src="{{product.imgSrc}}" alt="{{product.name}}">
            </div>
            <h3 class="name">{{ product.name }}</h3>
            <h3 class="price">{{product.price}}</h3>
            <button>Ver Producto</button>
        </div>
    </div>
        
    <h1>Guadalimón</h1>
    <hr class="linea-horizontal">
    <div class="product-container">
        <div *ngFor="let product of productG" class="product">
            <div class="image-container">
                <img class="imgProduct" src="{{product.imgSrc}}" alt="{{product.name}}">
            </div>
            <h3 class="name">{{ product.name }}</h3>
            <h3 class="price">{{product.price}}</h3>
            <button>Ver Producto</button>
        </div>
    </div>

    <h1>Sierra de Guadalcanal Premium</h1>
    <hr class="linea-horizontal">
    <div class="product-container">
        <div *ngFor="let product of productE" class="product">
            <div class="image-container">
                <img class="imgProduct" src="{{product.imgSrc}}" alt="{{product.name}}">
            </div>
            <h3 class="name">{{ product.name }}</h3>
            <h3 class="price">{{product.price}}</h3>
            <button>Ver Producto</button>
        </div>
    </div>

    <h1>Sierra de Guadalcanal Ecológico</h1>
    <hr class="linea-horizontal">
    <div class="product-container">
        <div *ngFor="let product of productE" class="product">
            <div class="image-container">
                <img class="imgProduct" src="{{product.imgSrc}}" alt="{{product.name}}">
            </div>
            <h3 class="name">{{ product.name }}</h3>
            <h3 class="price">{{product.price}}</h3>
            <button>Ver Producto</button>
        </div>
    </div>

    <!--
    <h1>REGALOS</h1>
    <hr class="linea-horizontal">
    <div class="product-container">
        <div *ngFor="let product of productE" class="product">
            <div class="image-container">
                <img class="imgProduct" src="{{product.imgSrc}}" alt="{{product.name}}">
            </div>
            <h3 class="name">{{ product.name }}</h3>
            <button>Ver Producto</button>
        </div>
    </div>-->

</div>
