<div class="container">
    <mat-dialog-content class="content">
        <table>
            <tr>
                <th>ID Order</th>
                <td>{{ data.idOrder }}</td>
            </tr>
            <tr>
                <th>ID Usuario</th>
                <td>{{ data.idUser }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ data.status }}</td>
            </tr>
        </table>        
    </mat-dialog-content>

    <mat-dialog-actions align="end" class="actions">
        <div mat-button mat-dialog-close class="closeModal">Cerrar</div>
    </mat-dialog-actions>
</div>