<div class="container">
    <mat-dialog-content class="content">
        <div class="image">
            <img [src]="data.image" [alt]="data.name">
        </div>
        <div class="info">
            <div>
                <h3 mat-dialog-title class="name">{{ data.name }}</h3>
            </div>
            
            <div class="description">
                <h2 class="descriptionText">{{ data.description }}</h2>
            </div>
            <div>
                <p>Precio: {{ data.price }} €</p>
            </div>
        </div>
    </mat-dialog-content>

    <mat-dialog-actions align="end" class="actions">
        <div mat-button class="addCarShop" (click)="addToCart(data.id)">Añadir a Carrito</div>
        <div mat-button mat-dialog-close class="closeModal">Cerrar</div>
    </mat-dialog-actions>
</div>