.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 50%;
    height:fit-content;
    margin: auto;
    flex-direction: row;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    border-radius: 2%;
}

.slider-item {
    display: flex;
    transition: transform 0.5s ease-in-out;
    display: none;
    object-fit: cover;
}

.slider-item.active {
    display: block;
}

.slider img {
    display: flex;
    width: 100%;
    height: 100%;
}

.icon-right {
    width: 10%;
    display: flex;
    justify-content: center;
    position: absolute;
    margin-left: 45%;
}

.icon-left{
    display: flex;
    justify-content: center;
    width: 10%;
    position: absolute;
    margin-right: 45%;
}


.icon-left:hover{
    fill: rgb(230, 227, 10) ;
    stroke: rgb(230, 227, 10);
}

.icon-right:hover{
    fill: rgb(230, 227, 10) ;
    stroke: rgb(230, 227, 10);
}
