<header>
    <div class="container">
        <div class="Logo-mark">
            <div class="logo">
                <img src="assets/sierra-de-guadalcanal.png" alt="Logo">
            </div>
        </div>
        <div class="options">
            <div class="link">
                <p>SIERRA DE GUADALCANAL</p>
            </div>
            <div class="link">
                <p>GUADALIMÓN</p>
            </div>
            <div class="link">
                <p>PREMIUM</p>
            </div>
            <div class="link">
                <p>ECOLÓGICO</p>
            </div>
            <!--
            <div class="link">
                <p>REGALOS</p>
            </div>  
            -->
        </div>
    </div>
</header>
