<header>
    <nav class="container">
        <div class="Logo-container">
                <img src="assets/sierra-de-guadalcanal.png" alt="Logo" class="logo">
        </div>
        <div class="options">
            <div class="link">
                <p>SIERRA DE GUADALCANAL</p>
            </div>
            <div class="link">
                <p>GUADALIMÓN</p>
            </div>
            <div class="link">
                <p>PREMIUM</p>
            </div>
            <div class="link">
                <p>ECOLÓGICO</p>
            </div>
            <div class="link">
                <img src="assets/carrito.svg" alt="Carrito Compra" class="icon">
                <div class="link">
                    <img src="assets/user.svg" alt="User" class="icon">
                </div>
            </div>
        </div>
    </nav>
</header>
