<div class="container">
    <table *ngFor="let order of orderBuyList" class="profile-order">
        <thead>
            <tr>
                <td class="text">Pedido Nº</td> 
                <td class="data">{{order.idOrder}}</td>
            </tr>
            <tr>
                <td class="text">Fecha de compra</td>  
                <td class="data">{{order.date.slice(0,10)}}</td>  
            </tr>
            <tr>
                <td class="text">Estado</td> 
                <td class="data">{{order.status}}</td>  
            </tr>
            <tr>
                <td class="text">Método de pago</td>  
                <td class="data">{{order.paymentMethod}}</td> 
            </tr>
            <tr>
                <td class="text">Total</td> 
                <td class="data">{{order.total}} €</td>  
            </tr>
        </thead>
        
        <tbody>
            <tr class="modal-container">
                <td >  <!-- Esta fila abarca las dos columnas -->
                    <div>Ver Detalles Pedido</div>  <!-- Enlace o texto para ver más detalles del pedido -->
                </td>
            </tr>
        </tbody>
    </table>
</div>
